* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.webp");
  background-size: cover;
  background-position: center;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    background-position: top;
  }
}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:white;
}

.fit img{
  width: 300px;
  height: 200px;
  object-fit: contain;
}

.res img{
  width: 50%;
}

picture {
  max-width: 50%;
}

.svg-img {
  width: 100%;
}
